<!-- Favicon from personal site -->
<link rel="icon" type="image/png" sizes="48x48"   href="https://connordelacruz.com/favicon/icon-48.png">
<link rel="icon" type="image/png" sizes="72x72"   href="https://connordelacruz.com/favicon/icon-72.png">
<link rel="icon" type="image/png" sizes="96x96"   href="https://connordelacruz.com/favicon/icon-96.png">
<link rel="icon" type="image/png" sizes="144x144" href="https://connordelacruz.com/favicon/icon-144.png">
<link rel="icon" type="image/png" sizes="192x192" href="https://connordelacruz.com/favicon/icon-192.png">
<link rel="icon" type="image/png" sizes="512x512" href="https://connordelacruz.com/favicon/icon-512.png">
<link rel="apple-touch-icon"      sizes="180x180" href="https://connordelacruz.com/favicon/apple-touch-icon.png">
