// Custom Variables ============================================================
// Brand Colors
$color-blue:   #668AFF;
$color-pink:   #FE5C9C;
$color-yellow: #FFB217;
// Background
$color-black:  #080b15;

// Variable Overrides ==========================================================

// Brand
$brand-color: $color-blue;
$brand-color-light: lighten($brand-color, 5%);
$brand-color-dimmed: darken($brand-color, 8%);
$brand-color-dark: darken($brand-color, 43%);
// Title
$site-title-color: $brand-color;
// Text
$text-base-color: lighten($brand-color, 25%);
$heading-color: rgba($text-base-color, 0.9);
$text-color: rgba($text-base-color, 0.8);
// Background
$background-color: $color-black;
$code-background-color: lighten($background-color, 10%);
// Links
$link-base-color: $color-pink;
// TODO: Custom link visited styles for certain types of links. For now leave unstyled:
// $link-visited-color: darken($link-base-color, 10%);
$link-visited-color: $link-base-color;
$link-hover-color: lighten($link-base-color, 5%);
// Borders
$border-color-01: lighten($background-color, 12%);
$border-color-02: $border-color-01;
$border-color-03: $border-color-01;

// $table-text-color: $dm-table-text-color;
// $table-zebra-color: $dm-table-zebra-color;
// $table-header-bg-color: $dm-table-header-bg-color;
// $table-header-border: $dm-table-header-border;
// $table-border-color: $dm-table-border-color;
